@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* for 1st row of cards */

.container-gallery{
    margin: 4rem auto;
}

.container-gallery h2{
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
}

.container-gallery h2::after{
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.container1{
    padding: 2em;    
    text-align: center;
}
.card_s01{
    display: flex;
    justify-content: center;
    padding:1em;
}
.card_s1{
    display: flex;
    justify-content: center;
    padding:1em;
}


/* for 2nd row of cards */

.container2{
    padding: 2em;
    text-align: center;
}
.card_s02{
    display: flex;
    justify-content: center;
    padding:1em;
}
.card_s2{
    display: flex;
    justify-content: center;
    padding:1em;
}


/* for 3rd row of cards */

.container3{
    padding: 2em;
    text-align: center;
}
.card_s03{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.card_s3{
    display: flex;
    justify-content: center;
    padding: 1em;
}


/* overall styling */

.card-top{
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.card{
    padding: .75em .75em .75em .75em;
    border-radius: 1.4em;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    margin-inline: 1.4%;
    overflow: hidden;
    /* word-wrap: break-word; */
}

.card-img-top{
    border-radius: 5% 5% 0% 0%;
}

.card-text{
    font-size: 3vh;
    color: #333333;
    flex-grow: 0;
    align-self: stretch;
}


.card:hover{ 
    border-width: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: 0.25s cubic-bezier(.27,.49,.62,1.47);
    transform: scale(1.02);
}

.card-img-top0{
    border-radius: 5%;
}

.navbar-container {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
  }

  .container-gallery a {
    text-decoration: none;
    position: relative;
    left: 55px;
    color: black;

  }


  .container-gallery a:hover {
    color: rgb(51, 223, 51);
  }

  #club-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: -10px;
  }

  #logo-img {

    height: 26px;
    width: 26px;
    position: relative;
    left: -35px;
    top: 24px;
    border: 0px;
    border-radius: 16px;
  }

  .card_s01{
    width: 80%;
    margin: 0 auto;
  }

  .card_s01 .card{
    margin: 20px !important;
  }

  .card_s02, .card_s03{
    width: 90%;
    margin: 0 auto;
  }

  .card_s02 .card, .card_s03 .card{
    margin: 20px !important;
  }

  @media screen and (max-width: 768px) {
    .card_s01, .card_s02, .card_s03{
      width: 100%;
      margin: 0 auto;
    }
    .card_s01 .card, .card_s02 .card, .card_s03 .card {
      margin: 15px !important;
    }
  }

  @media screen and (max-width: 470px) {
    .card_s01 .card{
      height: 20rem !important;
    }
    .card_s02, .card_s03{
      padding: 0;
    }
    .card_s02 .card, .card_s03 .card {
      width: 80% !important;

      /* margin: 15px auto !important; */
    }
    .card_s02 img, .card_s03 img {
      width: 100% !important;
    }
  }