.Noix{
    font-weight: 500;
    font-size: 2.5rem;
    color: #43AB5F;
    position: relative;
    margin-bottom: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.Week{
    font-weight: 500;
    font-size: 1.6rem;
    color: #43AB5F;
    position: relative;
    margin-bottom: 2.6rem;
}

.Noix::after {
    content: '';
    width: 4rem;
    height: 2.7px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0 5rem;
    color: #888888;
}

.cs {
    /*coming soon*/
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50px;
    color: #004a2f;
    text-align: center;
    margin-top: 6rem;
}


.pic-card{
    width: 450px;
    border: 2px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.highlight .pic-card{
    width: 600px ;
}

.pic-card img{
    margin: 0.6rem;
    width: calc(100% - 1.2rem);
    border-radius: 8px 8px 0px 0px;
    transition: 0.5s;
}

.pic-card .text{
    text-align: center;
    margin-bottom: 0.6rem;
}

.nox .imgs{
    width: 80%;
    margin: auto;
}


.socials{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2rem;
    opacity: 0;
    transition: 0.5s;
}

.pic-card:hover .socials{
    top: 50%;
    opacity: 1;
}

.pic-card:hover img{
    filter: blur(15px);
}

.socials svg{
    margin: 1rem;
}

@media (max-width: 600px){
    .para{
        padding: 0px 1rem;
    }
    .cs{
        font-size: 30px !important;
    }
    .para{
        margin-inline: 0.6em;
        text-align: justify;
        text-justify: inter-word;
    }
}