.Noix,  .Week{
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 4.5rem;
}

.Week::after {
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.Week {
    font-size: x-large;
}

.Noix {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0 5rem;
    color: #888888;
}

@media (width<=700px){
    .para{
        padding: 0px 1rem;
    }
    .cs{
        font-size: 30px !important;
    }
}

.cs {
    /*coming soon*/
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50px;
    color: #004a2f;
    text-align: center;
    margin-top: 6rem;
}