.blog-h2 { 
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 4.5rem;
}


.blog-h2::after{
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#club-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: -10px;
}

#logo-img {
    
    height: 26px;
    width: 26px;
    position: relative;
    left: -35px;
    top: 24px;
    border: 0px;
    border-radius: 16px;
}


.blog-h2{ 
    font-family:'Poppins',sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 45.2539px;
    line-height: 30px;
    text-align:center;
    position:relative;
    color: #43AB5F;
    margin-top: 3rem;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

hr{
    width: 50px;
    height: 0px;
    background-color: #43AB5F;
    transition: all ease 0.25s;
    border: 2px solid rgba(67, 171, 95, 0.8);
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
    
hr:hover{
    width: 96px;
    transition: all ease 0.25s;
}

.blog-p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    text-align:center;
    padding: 0 4rem;
    
    /* identical to box height */
    /* 888888 */
    color: #888888;
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px;
    gap: 14px;
    
    width: 367px;
    height: 498.06px;
    
    background: #FFFFFF;
    box-shadow: -1.57565px 0px 6.30261px rgba(0, 0, 0, 0.08), 1.57565px 1.57565px 6.30261px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    
} */

/* h2{
    width: 1173px;
    height: 36px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    
    identical to box height
    333333
    
    color: #333333;
    
    
    Inside auto layout
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
} */

.blog-img{
    max-width: 100%;
    height:50%;
}

.line{
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50px;
    color:#004a2f;
    text-align: center;
    margin-top: 6rem;
}


@media (width<=700px){
    .blog-p{
        padding: 0px 1rem;
    }
    .line{
        font-size: 30px !important;
    }
}