.navbar{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 7px #0003;
    height: 70px;
    /* overflow: hidden; */
    max-width: 100%;
}

.navbar .nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    /* padding: 0px 0rem; */
    list-style: none;
}

.navbar .nav li{
    margin: auto 1rem;
    color: rgb(54, 54, 54);
    transition: 0.25s;
}

.navbar .nav li:hover{
    color: rgb(48, 151, 0);
}

.navbar .nav li a{
    text-decoration: none;
    color: inherit;
}

.navbar .logo {
    padding: 0px 2rem;
    display: flex;
}

.navbar .logo img{
    margin: auto;
    height: 40px;
}