* {
    box-sizing: border-box;
}

/*CSS for main_containeer*/

.main_containeer {
    display: flex;
    background-color: #484747;
    padding-top: 2em;
    padding-bottom: 1em;
    justify-content: space-evenly;
}

.contact_us p {
    color: rgba(10, 171, 10, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactBigBox {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.box1 {
    padding: 5px;
    text-decoration: none;
}

.box1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.quick_links p {
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box2 {
    padding: 5px;
    text-decoration: none;
}

.box2 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.developers p {
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box3 {
    padding: 5px;
    text-decoration: none;
}

.box3 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.mail_us p {
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=mailid] {
    background-color: rgba(255, 255, 255, 0.397);
    color: white;
    border-left: 2px solid #a7a7a7;
    border-top: 2px solid #a7a7a7;
    border-bottom: 2px solid #a7a7a7;
    padding: 9.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    width: 100%;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /*background-color: rgba(128, 128, 128, 0.797);*/
}

input[type=mailid]:focus{
    border: 2px solid #f2f2f2;
}

.box4 {
    display: flex;
    flex-direction: row;
}

.arrow {
    align-items: center;
    color: grey;
}

.arrow {
    background-color: #808080;
    color: white;
    padding: 4.5px;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arrow :hover {
    color: black;
    cursor: pointer;


}

/* .box4 i{
      background-color: grey;
      right: 0;
      color: #ffffff;
      padding: 6px;
      border-right: 2px solid #5A5A5A;
      border-top: 2px solid #5A5A5A;
      border-bottom: 2px solid #5A5A5A;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

  } 
  form i:hover{
    color:rgb(47, 46, 46);
    cursor: pointer;
  } */


@media screen and (max-width: 800px) {
    .main_containeer {
        flex-direction: column;
        gap: 3em;
    }

    .contact_us,
    .quick_links,
    .developers,
    .mail_us {
        text-align: center;
    }

    .box4{
        justify-content: center;
    }
}

/* @media screen and (min-width:410px) and (max-width:860px) {
    .main_containeer {
        flex-direction: column;

    }
} */