*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*CSS for main_containeer*/

.main_containeer{
    display: flex;
    background-color: #5A5A5A;
    padding:10px 75px;
    justify-content: space-around;

}
.contact_us p{
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;

}
.box1{
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}
.box1 i{
    margin-right: 12px;
    color: rgba(5, 158, 5, 0.949);
}
.box1 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.quick_links p{
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;

}

.box2{
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: none;
}
.box2 i{
    margin-right: 12px;
    color: rgba(5, 158, 5, 0.949);
}
.box2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.developers p{
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;

}

.box3{
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: none;
}
.box3 i{
    margin-right: 12px;
    color: rgba(5, 158, 5, 0.949);
}
.box3 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}



.mail_us p{
    color: rgba(5, 158, 5, 0.949);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;
}

input[type=mailid]{
    background-color: rgba(255, 255, 255, 0.397);
    color: white;
    border-left: 2px solid #5A5A5A;
    border-top: 2px solid #5A5A5A;
    border-bottom: 2px solid #5A5A5A;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    width: 100%;
    outline: none;
    /*background-color: rgba(128, 128, 128, 0.797);*/
  }
  /* .box4{
      display: flex;
      flex-direction: row;
      align-items: center;
  } */
  .box4 form{
    display: flex;
    flex-direction: row;
  }
   .box4 i{
      background-color: grey;
      right: 0;
      color: #ffffff;
      padding: 6px;
      border-right: 2px solid #5A5A5A;
      border-top: 2px solid #5A5A5A;
      border-bottom: 2px solid #5A5A5A;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

  } 
  form i:hover{
    color:rgb(47, 46, 46);
    cursor: pointer;
  }


  @media screen and (max-width: 410px){
    .main_containeer{
         flex-direction: column;
         /* width:100%; */
    }
    .contact_us,
    .quick_links,
    .developers,
    .mail_us{
        text-align: center;
    }

}
@media screen and (min-width:410px) and (max-width:1080px){
    .main_containeer{
        flex-direction: column;
        
    }
}