.containerT{
    margin-top: 6em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    overflow: hidden;
}

.container1-left, .container1-right, .container2-left, .container2-right, .container3-left, .container3-right{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    color: rgb(75, 72, 72);
}

.containerTeam{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4em;
}

.container1{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4em;
}

.container2{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4em;
}

.container3{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4em;
}

.from{
    font-weight: 600;
    font-size: 1.4rem;
    width: 40vh;
}

.container1-left{
    text-align: center;
}

.container2-right{
    text-align: center;
}

.container3-left{
    text-align: center;
}

.container1-right{
    text-align:justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2-left{
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3-right{
    text-align: justify;    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .containerT{
        margin-top: 3.5em;
        margin-left: 7%;
        margin-right: 7%;
    }
    .container1{
        gap: 2.5em;
    }
    .container2{
        gap: 2.5em;
    }
    .container3{
        gap: 2.5em;
    }
}

@media (max-width: 600px) {
    .containerT{
        margin-left: 4%;
        margin-right: 4%;
    }
    .container1{
        gap: 0em;
    }
    .container2{
        gap: 0em;
    }
    .container3{
        gap: 0em;
    }
    .container1-left> img{
        width: 15em;
    }
    .container2-right> img{
        width: 15em;
    }
    .container3-left> img{
        width: 15em;
    }
}

@media (max-width: 530px) {
    .container1{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .container2{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .container3{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .container1-left> img{
        width: 13em;
    }
    .container1-right{
        font-size: .96rem;
    }
    .container2-right> img{
        width: 13em;
    }
    .container2-left{
        font-size: .96rem;
    }
    .container3-left> img{
        width: 13em;
    }
    .container3-right{
        font-size: .96rem;
    }
}