@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.main-event {
  width: 90%;
  margin: 0 auto;
  /* background-color: red; */
}
.event-top {
  margin: .8rem auto 1.5rem auto;
  text-align: center;
}


.event-top h1 {
  color: #43ab5f;
  padding-bottom: 2vh;
  display: inline-block;
  text-align: center;
  border-bottom: 3px solid#43AB5F;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.first{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}


.card_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card {
  width: 30%; /* Display three boxes in a row by default */
  margin-bottom: 1rem; /* Adjust the gap between the cards as needed */
}

@media screen and (max-width: 900px) {
  .card {
    width: 45%; /* Display two boxes in a row for screen width between 600px and 800px */
  }
}

@media screen and (max-width: 560px) {
  .card {
    width: 100%; /* Display one box in a row for screen width below 600px */
  }
}








/* .events h2{
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 4.5rem;
}

.event-img-container{
  width: 75%;
}

.event-img-container .events-card{
  margin: auto;
}

.events h2::after{
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.events img{
    border-radius: 6%;
    padding: 2.5%;
}

.events .container{
    align-items: center;
}

.navbar-container {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
  }

 .events a {
    text-decoration: none;
    position: relative;
    left: 55px;
    color: black;

  }


  .events a:hover {
    color: rgb(51, 223, 51);
  }

  #club-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: -10px;
  }

  #logo-img {

    height: 26px;
    width: 26px;
    position: relative;
    left: -35px;
    top: 24px;
    border: 0px; */
    /*border-radius: 16px;
  /* }

  .events .row > div{
    width: auto;
    margin: auto;
  } */



/* .first{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.event_title{
    color: rgba(5, 158, 5, 0.949);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 5px;
}

.event_title::after{
  content: '';
  width: 6.5rem;
  height: 3px;
  background-color: #43AB5F;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.card_box{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   gap: 2rem;
   justify-content: center;
   border-radius: 8px;
}

.card{
  display: flex;
  flex-direction: column;
  /* height: 425px; */
  /* width: 350px; */
  /* left: 20px;
  top: 20px; */
  /* border-bottom-right-radius: 50px;
  border-top-left-radius: 50px; */
  /* gap: 12px; */
  /* border: 2px solid #9A9494;
  box-sizing: border-box;
  box-shadow: -4px -4px 12px 0px #F2F2F240;
  box-shadow: 4px 4px 12px 0px #4F4F4F33;
  overflow: hidden; */
/* } */

/* .images img{
  padding: 9px;
  border: white 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 12rem;
  left: -34px;
  top: 0px;

}

.description{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    font-size:15px;
}

.title,
.author,
.timing,
.details{
  padding: 5px;
}

.details{
  text-overflow: ellipsis;
}

.about{
  border: 2px white solid;
  border-radius: 8px;
  box-shadow: grey;
  text-align: center;
  padding: 35px 45px;
  align-items: center;
  
}
.about p{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;

}
/* .read{
  border: 2px grey solid;
  border-radius: 12px;
  background: #9d9999;
  padding: 15px 10px;
  font-size: 15px;
  transition: 0.5s;
  text-align: center;
  
}
a:hover{
  box-shadow: 0 0 10px 0 rgb(69, 66, 66);
}  */