@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.events h2{
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 4.5rem;
}

.event-img-container{
  width: 75%;
}

.event-img-container .events-card{
  margin: auto;
}

.events h2::after{
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.events img{
    border-radius: 6%;
    padding: 2.5%;
}

.events .container{
    align-items: center;
}

.navbar-container {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
  }

 .events a {
    text-decoration: none;
    position: relative;
    left: 55px;
    color: black;

  }


  .events a:hover {
    color: rgb(51, 223, 51);
  }

  #club-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: -10px;
  }

  #logo-img {

    height: 26px;
    width: 26px;
    position: relative;
    left: -35px;
    top: 24px;
    border: 0px;
    border-radius: 16px;
  }

  .events .row > div{
    width: auto;
    margin: auto;
  }